<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>projects</key>
	<dict>
		<key>1001</key>
		<dict>
			<key>AmusementAreas</key>
			<true/>
			<key>RideControlAreas</key>
			<true/>
			<key>KitchenAreas</key>
			<false/>
			<key>Maintenance</key>
			<false/>
			<key>OfficeAreas</key>
			<false/>
			<key>RideRides</key>
			<false/>
		</dict>
		<key>1002</key>
		<dict>
			<key>AmusementAreas</key>
			<true/>
			<key>RideControlAreas</key>
			<true/>
			<key>KitchenAreas</key>
			<false/>
			<key>Maintenance</key>
			<true/>
			<key>OfficeAreas</key>
			<false/>
			<key>RideRides</key>
			<false/>
		</dict>
		<key>1003</key>
		<dict>
			<key>AmusementAreas</key>
			<true/>
			<key>RideControlAreas</key>
			<true/>
			<key>KitchenAreas</key>
			<true/>
			<key>Maintenance</key>
			<true/>
			<key>OfficeAreas</key>
			<true/>
			<key>RideRides</key>
			<false/>
		</dict>
		<key>2001</key>
		<dict>
			<key>AmusementAreas</key>
			<false/>
			<key>RideControlAreas</key>
			<false/>
			<key>KitchenAreas</key>
			<false/>
			<key>Maintenance</key>
			<false/>
			<key>OfficeAreas</key>
			<true/>
			<key>RideRides</key>
			<false/>
		</dict>
		<key>2002</key>
		<dict>
			<key>AmusementAreas</key>
			<false/>
			<key>RideControlAreas</key>
			<false/>
			<key>KitchenAreas</key>
			<true/>
			<key>Maintenance</key>
			<true/>
			<key>OfficeAreas</key>
			<false/>
			<key>RideRides</key>
			<false/>
		</dict>
	</dict>
	<key>companies</key>
	<dict>
		<key>Acme</key>
		<dict>
			<key>AmusementAreas</key>
			<false/>
			<key>RideControlAreas</key>
			<false/>
			<key>KitchenAreas</key>
			<true/>
			<key>Maintenance</key>
			<false/>
			<key>OfficeAreas</key>
			<false/>
			<key>RideRides</key>
			<false/>
		</dict>
		<key>Orkin</key>
		<dict>
			<key>AmusementAreas</key>
			<true/>
			<key>RideControlAreas</key>
			<true/>
			<key>KitchenAreas</key>
			<true/>
			<key>Maintenance</key>
			<false/>
			<key>OfficeAreas</key>
			<false/>
			<key>RideRides</key>
			<false/>
		</dict>
		<key>FedEx</key>
		<dict>
			<key>AmusementAreas</key>
			<false/>
			<key>RideControlAreas</key>
			<false/>
			<key>KitchenAreas</key>
			<false/>
			<key>Maintenance</key>
			<true/>
			<key>OfficeAreas</key>
			<true/>
			<key>RideRides</key>
			<false/>
		</dict>
		<key>NW Electrical</key>
		<dict>
			<key>AmusementAreas</key>
			<true/>
			<key>RideControlAreas</key>
			<true/>
			<key>KitchenAreas</key>
			<true/>
			<key>Maintenance</key>
			<true/>
			<key>OfficeAreas</key>
			<true/>
			<key>RideRides</key>
			<false/>
		</dict>
	</dict>
	<key>guests</key>
	<dict>
		<key>Classic</key>
		<dict>
			<key>AmusementAreas</key>
			<false/>
			<key>RideControlAreas</key>
			<false/>
			<key>KitchenAreas</key>
			<false/>
			<key>Maintenance</key>
			<false/>
			<key>OfficeAreas</key>
			<false/>
			<key>RideRides</key>
			<true/>
		</dict>
		<key>FreeChild</key>
		<dict>
			<key>AmusementAreas</key>
			<false/>
			<key>RideControlAreas</key>
			<false/>
			<key>KitchenAreas</key>
			<false/>
			<key>Maintenance</key>
			<false/>
			<key>OfficeAreas</key>
			<false/>
			<key>RideRides</key>
			<true/>
		</dict>
		<key>VIP</key>
		<dict>
			<key>AmusementAreas</key>
			<false/>
			<key>RideContrrolAreas</key>
			<false/>
			<key>KitchenAreas</key>
			<false/>
			<key>Maintenance</key>
			<false/>
			<key>OfficeAreas</key>
			<false/>
			<key>RideRides</key>
			<true/>
		</dict>
		<key>Senior</key>
		<dict>
			<key>AmusementAreas</key>
			<false/>
			<key>RideControlAreas</key>
			<false/>
			<key>KitchenAreas</key>
			<false/>
			<key>Maintenance</key>
			<false/>
			<key>OfficeAreas</key>
			<false/>
			<key>RideRides</key>
			<true/>
		</dict>
		<key>Season</key>
		<dict>
			<key>AmusementAreas</key>
			<false/>
			<key>RideControlAreas</key>
			<false/>
			<key>KitchenAreas</key>
			<false/>
			<key>Maintenance</key>
			<false/>
			<key>OfficeAreas</key>
			<false/>
			<key>RideRides</key>
			<true/>
		</dict>
	</dict>
	<key>workers</key>
	<dict>
		<key>RideServices</key>
		<dict>
			<key>AmusementAreas</key>
			<true/>
			<key>RideControlAreas</key>
			<true/>
			<key>KitchenAreas</key>
			<false/>
			<key>Maintenance</key>
			<false/>
			<key>OfficeAreas</key>
			<false/>
			<key>RideRides</key>
			<true/>
		</dict>
		<key>FoodServices</key>
		<dict>
			<key>AmusementAreas</key>
			<true/>
			<key>RideControlAreas</key>
			<false/>
			<key>KitchenAreas</key>
			<true/>
			<key>Maintenance</key>
			<false/>
			<key>OfficeAreas</key>
			<false/>
			<key>RideRides</key>
			<true/>
		</dict>
		<key>Maintenance</key>
		<dict>
			<key>AmusementAreas</key>
			<true/>
			<key>RideControlAreas</key>
			<true/>
			<key>KitchenAreas</key>
			<true/>
			<key>Maintenance</key>
			<true/>
			<key>OfficeAreas</key>
			<false/>
			<key>RideRides</key>
			<true/>
		</dict>
		<key>Manager</key>
		<dict>
			<key>AmusementAreas</key>
			<true/>
			<key>RideControlAreas</key>
			<true/>
			<key>KitchenAreas</key>
			<true/>
			<key>Maintenance</key>
			<true/>
			<key>OfficeAreas</key>
			<true/>
			<key>RideRides</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
