<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<real>5000</real>
		<key>guestType</key>
		<string>Classic</string>
	</dict>
	<dict>
		<key>ID</key>
		<real>5001</real>
		<key>guestType</key>
		<string>VIP</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>5002</integer>
		<key>guestType</key>
		<string>FreeChild</string>
		<key>dateOfBirth</key>
		<date>2014-04-12T04:03:10Z</date>
	</dict>
	<dict>
		<key>ID</key>
		<integer>5003</integer>
		<key>guestType</key>
		<string>Senior</string>
		<key>firstName</key>
		<string>Roger</string>
		<key>lastName</key>
		<string>Rohweder</string>
		<key>dateOfBirth</key>
		<date>1953-09-03T03:07:17Z</date>
	</dict>
	<dict>
		<key>ID</key>
		<real>5004</real>
		<key>guestType</key>
		<string>Season</string>
		<key>firstName</key>
		<string>Brian</string>
		<key>lastName</key>
		<string>Pendell</string>
		<key>streetAddress</key>
		<string>999 Oxford St</string>
		<key>city</key>
		<string>Wake Forest</string>
		<key>state</key>
		<string>NC</string>
		<key>zipCode</key>
		<string>27587</string>
		<key>dateOfBirth</key>
		<date>1948-11-11T01:34:26Z</date>
	</dict>
</array>
</plist>
